# Banco de Dados II
## prof. Duncan

# Notebook para apoio ao desenvolvimento do Trabalho 1 de BD2

### Contém trecho de código para copiar as coleções TURMAS, CURSOSDISCS e ALUNOS diretamente, da área do professor, para a sua área.

## -----------------------------------------------------------------------------------------------
### Código a ser executado caso em uso o colab.research.google.com

In [ ]:
#
# SOMENTE EXECUTE SE NO colab.research.google.com
#
!pip install pymongo[srv,tls]
!pip install dnspython
from tensorflow.python.client import device_lib

print("Show System RAM Memory:\n\n")
!cat /proc/meminfo | egrep "MemTotal*"


print("\n\nShow Devices:\n\n"+str(device_lib.list_local_devices()))

## --------------------------------------------------------------------------------------------

### Bibliotecas eventualmente úteis

In [ ]:
import pymongo
import dns
import pandas as pd
from urllib import request
from pprint import pprint
import datetime as dt
import json
import socket
from IPython.display import display
host_name = socket.gethostname()
host_ip = socket.gethostbyname(host_name)
print("Hostname :  ",host_name) 
print("IP : ",host_ip)

## Configurando as credenciais de acesso e conectando ao banco de dados do professor:

In [ ]:
user = 'BD2_aluno231'
pwd = 'BD2_senha23'
connection_string = 'mongodb+srv://{}:{}@cluster0.mcuhilm.mongodb.net/?retryWrites=true&w=majority'.format(user, pwd)
client = pymongo.MongoClient(connection_string)
dbp = client.BD2_T1

## Configurando as suas credenciais de acesso e conectando ao seu banco de dados:

In [ ]:
# copie e cole o string de conexão da sua área no Atlas em substituicao ao abaixo
# lembra de colocar o usuario e senha corretos
connection_string = 'mongodb+srv://usuario:senha@cluster0.xxxxxx.mongodb.net/?retryWrites=true&w=majority'
client = pymongo.MongoClient(connection_string)
# não esqueça de colocar o nome do seu banco de dados abaixo
dba = client.BD2_T1

## Importando as coleções CURSOSDISCS, TURMAS e ALUNOS da área do professor para a sua área

In [ ]:
# As colecoes serão lidas da área do professor e gravadas na sua área
cursosdiscs = dba.CURSOSDISCS
turmas      = dba.TURMAS
alunos      = dba.ALUNOS

r_cursosdiscs = dbp.CURSOSDISCS.find({},{'_id':0})
r_turmas      = dbp.TURMAS.find({},{'_id':0})
r_alunos      = dbp.ALUNOS.find({},{'_id':0})

result_cd = cursosdiscs.delete_many({})
result_cd = cursosdiscs.insert_many(r_cursosdiscs)

result_tu = turmas.delete_many({})
result_tu = turmas.insert_many(r_turmas)

result_al = alunos.delete_many({})
result_al = alunos.insert_many(r_alunos)

## Rotinas para formatar e listar objetos das coleções CURSOSDISCS, TURMAS e ALUNOS

In [ ]:
def lista_CURSOSDISCS(df):
  for icurso, curso in df.iterrows():
    print('Curso: '+ curso['Codigo']+' - '+curso['Titulo']);
    print('  Nivel  Codicred   Disciplina ');
    for inivel in range(len(curso['Niveis'])):
      print('   {:2}    {}   {}'.format(
          curso['Niveis'][inivel]['Nivel'], 
          curso['Niveis'][inivel]['Codicred'], 
          curso['Niveis'][inivel]['Denominacao']));

In [ ]:
def lista_TURMAS(df, comAlunos):
  for iturma, turma in df.iterrows():
    if (comAlunos == 1 and turma['Alunos'] != None) or comAlunos == 0:
      print('Codicred: {}-{:52}  Turma: {:3}  Ano_Semestre: {}  Horarios: {:9}  Sala: {:18}  Professor: {}'.format(
          turma['Codicred'], turma['Denominacao'], turma['Turma'], turma['Ano_Semestre'], 
          turma['Horarios'], turma['Sala'], turma['Professor']))
      if turma['Alunos'] != None:
        for imat in range(len(turma['Alunos'])):
          print('  Matricula: {}  Nome: {}'.format(
              turma['Alunos'][imat]['Matricula'], turma['Alunos'][imat]['Nome']))
      else:
        print('  --- Sem alunos matriculados ---')

In [ ]:
def lista_ALUNOS(df):
  for ialuno, aluno in df.iterrows():
    print('Matricula: {} - {:18}  Data_Ingresso: {:10}  Endereco: {:25}  Curso: {} - {}'.format(
        aluno['Matricula'], aluno['Nome'], aluno['Data_Ingresso'][:10],
        aluno['Endereco'], aluno['Curso']['Codigo'], aluno['Curso']['Titulo']))
    if aluno['Discs_Matriculadas'] == None:
      print('   *** Sem disciplinas matriculadas ***')
    else:
      print('  --- Disciplinas matriculadas ---')
      print('  Codicred   Turma  Ano_Semestre  Situacao  Frequencia');
      for imat in range(len(aluno['Discs_Matriculadas'])):
        print('  {}     {}      {}     {:9}   {:3}'.format(
            aluno['Discs_Matriculadas'][imat]['Codicred'],        aluno['Discs_Matriculadas'][imat]['Turma'], 
            aluno['Discs_Matriculadas'][imat]['Ano_Semestre'],    aluno['Discs_Matriculadas'][imat]['Situacao'], 
            aluno['Discs_Matriculadas'][imat]['Frequencia']));
    if aluno['Discs_Historico'] == None:
      print('   *** Sem disciplinas em historico ***')
    else:
      print('  --- Disciplinas em historico ---')
      print('  Codicred   Turma  Ano_Semestre  Situacao  Nota');
      for ihist in range(len(aluno['Discs_Historico'])):
        print('  {}     {}      {}     {:9} {:3}'.format(
            aluno['Discs_Historico'][ihist]['Codicred'],        aluno['Discs_Historico'][ihist]['Turma'], 
            aluno['Discs_Historico'][ihist]['Ano_Semestre'],    aluno['Discs_Historico'][ihist]['Situacao'], 
            aluno['Discs_Historico'][ihist]['Nota']));

In [ ]:
# acesso coleções em BD2_T1
resposta = dba.CURSOSDISCS.find({'Codigo':'98AH '})
df = pd.DataFrame(list(resposta))
lista_CURSOSDISCS(df)

In [ ]:
# acesso coleções em BD2_T1
resposta = dba.TURMAS.find().sort([('Ano_Semestre', -1),('Codicred', 1),('Turma', 1)])
df = pd.DataFrame(list(resposta))
lista_TURMAS(df,1)  # 1 - somente com alunos matriculados;  0 - com e sem alunos matriculados

In [ ]:
# acesso coleções em BD2_T1
resposta = dba.ALUNOS.find()
df = pd.DataFrame(list(resposta))
lista_ALUNOS(df)

In [ ]:
# Fim